<div class="center hero-unit">
		<h1>Gin and Juice</h1>
		<pre>With so much drama in L-B-C
			It's kinda hard bein Snoop D-O-double-G
			But I, somehow, some way 
			Keep comin up with funky ass shit nearly every single day
			Can I, kick a little something for the G's
			and, make a few friends is a breeze, through
			Two in the mornin and the party's still jumpin
			cause my momma ain't ho-ome
			I got bitches in the living room gettin it on
			and, they ain't leavin til six in the mornin 
			So what you wanna do hoo
			I got a pocket full of rubbers and my homeboys do too
			So turn off the lights and close the doors
			But (but what) we don't love them whores
			So we gonna smoke a ounce to this
			G's up, hoes down, while you motherf**kers bounce to this 
			
			Chorus: repeat 2X
			
			Rollin down the street, smokin indo, sippin on gin and juice
			Laid back with my mind on my money and my money on my mind
			
			Verse Two:
			
			Now that I got me some Seagram's gin
			Every body got their cups, but they ain't chipped in
			Ya know this type of shit, happens all the time
			Gotta get yours before I get mine
			Everything is fine when you listenin to the D-O-G
			He gots the cultivating music that be captivating he
			who hears the words that I speak
			As I take me a drink to the middle of the street
			and get mackin to this bitch named Sadie 
			She used to be the homeboy's lady 
			Eighty degrees, when I tell that bitch please
			Raise up off these N-U-T's, cause you gets none of these
			as I mob with the Dogg Pound, feel the breeze
			
			Chorus
			
			Verse Three:
			
			(slows down)
			Later on that day
			My homey Dr. Dre 
			He came by with a gang of Tanqueray
			And a fat ass J, 
			(speeds up)
			of some bubonic chronic you know it made me choke
			It ain't no joke, I had to back up off of it, 
			Set my cup of gin down
			
			(stops) Yeah, Tanqueray and chronic, well I'm f**ked up now (speeds back up)
			But it ain't no stoppin, I'm still poppin
			Dr Dre got some bitches from the city of Compton
			To serve me, not with a cherry on top
			Cause when I bust my nut, ya know I'm raisin up off the cot
			Don't get upset girl, that's just how it goes
			I don't love you hoes, that's why I'm out the do'
			And I'll be
			
			Chorus
			Rollin down the street, smokin indo, sippin on gin and juice {beeotch!!}
			Laid back with my mind on my money and my money on my mind 
		</pre>
		
		
</div>
